#Avance PIA (Opción 2)

* Equipo #4
* Grupo: 02, Frecuencia de clase: Miércoles
* Integrantes:
  * 1857602 Díaz Vázquez Jisbeth Jaquelin.
  * 1842201 Ramiro Mayorga Julio César.
  * 1854552 Requenes Villarreal Linda Karina.
  * 1941443 Martínez Valdez Norma Isabel.

* Título de la base de datos: Used Cars Dataset
  * Nombre con que se encuentra en la página encontrada:  Used Cars Dataset
  * URL de página: https://www.kaggle.com/austinreese/craigslist-carstrucks-data

# Introducción General
Cuando vas a comprar un carro pueden surgir muchas dudas ya que es una decisión importante por la inversión que debes destinar. La principal interrogante es ¿qué me conviene más un auto usado o uno nuevo? Esto depende de las necesidades y expectativas que tenga cada persona.

* Auto nuevo
  * Ventajas
    1. Garantía por defectos.
    2. Alta tecnología.
    3. Sin antecedentes de transito y 0 kilometraje.
    4. Contaminan menos.
  
  * Desventajas
    1. Valor depreciado.
    2. Para que el dealer haga válida la garantía durante el tiempo establecido exige que el dueño del carro cumpla con todo el proceso de mantenimiento del carro.
    3. Seguros con precios elevados debido a que los costos de reparación de estos vehículos son más caros.

* Auto Usado
  * Ventajas 
    1.  Puedes encontrar un carro con muy poco uso y a un excelente precio.
    2. Gastos de seguro y mantenimiento menores.
    3. Puedes encontrar autos con ciertas actualizaciones tecnológicas.

  * Desventajas
    1. Debes asegurarte de que el carro se encuentre en buenas condiciones más allá de lo que se ve de forma superficial.
    2. Menor vida útil y reparaciones con mayor frecuencia después de un tiempo de uso.

# Descripción de datos

Craigslist es la colección de vehículos usados a la venta más grande del mundo. Este conjunto de datos incluye todas las entradas de vehículos usados dentro de los Estados Unidos en Craigslist.

Estos datos se recogen cada pocos meses y  contienen la mayor parte de la información relevante que Craigslist proporciona sobre las ventas de automóviles, incluidas columnas como precio, estado, fabricante, latitud / longitud y otras 18 categorías. 

* Tipo de Datos

* Descripción de las columnas

# Justificación del uso de datos


*   **Características de interés**

El proyecto que se presenta pretende exponer de forma ordenada, metodológica y práctica las tendencias de reventa de autos en Estados Unidos. 
La industria automotriz ha sufrido graves consecuencias debido a la epidemia, en donde la mayor parte de los problemas no parecen estar en las fabricas, sino directamente en los pisos de venta y reventa.
*   **Beneficio al trabajar con esos datos**

En base a estimaciones, podríamos determinar los modelos que consideramos ideales para compra si es que deseas hacerte de un seminuevo pues existen diversos factores a evaluar al momento de elegir un coche usado, como lo son: precio, confiablidad, rendimiento, mantenimiento, kilometraje, desgaste y el porcentaje de depreciación, siendo los temas más importantes a destacar, previo a la toma de decisión de compra.

# Objetivo final
Crear un mecanismo de elección de modelo ideal, con base en las necesidades mecánicas, personales y económicas del comprador; la mayoría de los consumidores erróneamente considera el precio base como el factor más importante en su decisión lo cierto es que hay que tomar en cuenta además el costo de mantenimiento, de la póliza del seguro del auto, la gasolina, las eventuales reparaciones y especialmente el valor de reventa dependiente l modelo de automóvil deseado.

# Preguntas de interés



*   ¿Qué marcas son más frecuentes en la reventa de autos?
*   ¿Cuáles son los aspectos a considerar al pensar en adquirir un coche usado?
*   ¿En dónde conviene comprarlo?
*   ¿Cuáles son los aspectos a evaluar antes de completar la compra?
*   ¿Con qué presupuesto cuenta el comprador?
*   Elemento de la lista

# Programación

In [ ]:
import pandas as pd
import numpy as np
import json
df = pd.read_csv('vehicles.csv')

Las dimensiones de nuestra Base de datos 26 columnas y 13463 filas

In [ ]:
df.shape

(13463, 26)

Filas y columnas de nuestra base de datos:

In [ ]:
df.head()

           id  ... posting_date
0  7222695916  ...          NaN
1  7218891961  ...          NaN
2  7221797935  ...          NaN
3  7222270760  ...          NaN
4  7210384030  ...          NaN

[5 rows x 26 columns]

In [ ]:
df.tail()

               id  ...              posting_date
13458  7302191374  ...  2021-04-05T11:21:08-0700
13459  7302164118  ...  2021-04-05T10:41:08-0700
13460  7302135431  ...  2021-04-05T10:00:11-0700
13461  7302122608  ...  2021-04-05T09:41:24-0700
13462  7302095187  ...                       NaN

[5 rows x 26 columns]

Los nombres de las columnas y sus tipos de datos

In [ ]:
df.columns

Index(['id', 'url', 'region', 'region_url', 'price', 'year', 'manufacturer',
       'model', 'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'VIN', 'drive', 'size', 'type', 'paint_color',
       'image_url', 'description', 'county', 'state', 'lat', 'long',
       'posting_date'],
      dtype='object')

In [ ]:
df.dtypes

id                int64
url              object
region           object
region_url       object
price           float64
year            float64
manufacturer     object
model            object
condition        object
cylinders        object
fuel             object
odometer        float64
title_status     object
transmission     object
VIN              object
drive            object
size             object
type             object
paint_color      object
image_url        object
description      object
county          float64
state            object
lat             float64
long            float64
posting_date     object
dtype: object

Clasificación de datos por columna Model